.git
*.md
.env*
.dockerignore
.gitignore
Dockerfile
README.md
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
build/
docs/
migrations/
.vscode
test/
alembic.ini
Makefile
.deepeval
.mypy_cache
.pytest_cache
.ruff_cache