# Choose one or both providers
ANTHROPIC_API_KEY=sk-ant-...
OPENAI_API_KEY=sk-...
GEMINI_API_KEY=
TAVILY_API_KEY=

# Default model
DEFAULT_MODEL=claude-sonnet-4-20250514
# DEFAULT_MODEL=gpt-4o

# Logging
LOG_LEVEL=INFO

# AI Hook Logging (set by instructor)
AI_LOG_SERVER=https://ai-logs.note.transformerlabs.ai/api/ingest
AI_LOG_API_KEY=f3p1dEOhD_z8qjjtbeCtb2t9ASMEliz-4juZfWe3ZPgCtPZp-LjWthBfeNU8d5dP
AI_LOG_DIR=.ai-log

# Application Config
APP_NAME=Autonomous Drones
APP_ENV=development
APP_DEBUG=True

# API Config
API_HOST=0.0.0.0
API_PORT=8000
API_PREFIX=/api

POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
POSTGRES_DB=example_db
POSTGRES_PORT=5432
POSTGRES_HOST=127.0.0.1

REDIS_PASSWORD=example_password
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
