node_count                  = 1
node_min_count              = 1
node_max_count              = 2
regional_cluster            = false
cluster_deletion_protection = true
machine_type                = "e2-medium"
node_disk_size_gb           = 20
environment                 = "demo"
postgres_instance_name      = "c2-demo-postgres"
postgres_database           = "appdb"
postgres_user               = "appuser"
postgres_password           = "set-outside-git"
postgres_tier               = "db-f1-micro"
postgres_availability_type  = "ZONAL"
postgres_point_in_time_recovery_enabled = false
postgres_backup_retained_count          = 3
postgres_deletion_protection = true
artifact_registry_name      = "c2-app"
